




.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    height: auto;
    width: 100%;


  


    .main-section {
        position: relative;
        height: auto;
        width: 100%;
        .slider-thing  {
            position: relative;
            width: 100%;
            .slide {
                height: 90vh;    
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }

            .slick-dots {
                position: absolute;
                z-index: 10;
                top: 50%; 
                right: 50px; 
                transform: translateY(-50%); 
                display: flex;
                flex-direction: column; 
                max-height: 90px;
                width: 10px;
              }
            .slick-dots li {
                border-radius: 10px;
                min-height: 15px;
                max-height: 35px;
                width: 10px;
                margin: 0 0;
                transition: height 0.2s ease;
                background-color: rgba(225, 181, 22, 0.354);
                &.slick-active {
                    height: 35px;
                }
                button {
                    &:before {
                        content: '';
                        background-color: transparent;
                    }
                }
            }
        }
        .overlay {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            color: white;
            background-color: rgba(0, 0, 0, 0.525);
            .main-text {
                position: absolute;
                top: 50%;
                left: 10%;
                height: auto;
                width: 50%;


                opacity: 0;
                transition: transform 1s ease, opacity 1s ease-in;


                h1 {
                    font-size: 5rem;
                }
                p {
                    color: white;
                    font-size: 1.3rem;
                }

                &.fadeIn {
                    opacity: 1;
                    transform: translateY(-50%);
                }
            }
        }
    }



    .main-subinfo  {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 100px;
        width: 85%;
        color: var(--gold-yellow);

        opacity: 0;
        transform: translateY(50px);
        transition: transform 1s ease, opacity 1s ease;

        span {
            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                .number {
                    font-size: 1.8rem;
                    margin-bottom: 10px;
                }
            }
            p {
                color: white;
            }

        }


        &.fadeIn {
            opacity: 1;
            transform: translateY(0px);

        }
    }



    .our-mission-section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;
        min-height: 300px;
        height: auto;
        gap: 80px;
        .mission-left {
            align-self: flex-start;
            height: 100%;
            width: 30%;
            //background-color: blue;
            h1 {
                font-size: 2rem;
                margin-bottom: 20px;
                color: var(--gold-yellow);
            }
            p {
                font-size: 0.9rem;
                line-height: 30px;
                color: white;

            }

            opacity: 0;
            transform: translateX(-50px);
            transition: transform 1s ease, opacity 1s ease;

            &.fadeIn {
                opacity: 1;
                transform: translateX(0px);
                transition: transform 1s ease, opacity 1s ease;  
            }


        }

        img {
            height: auto;
            max-width: 50%;
            object-fit: cover;

            opacity: 0;
            transform: translateX(50px);
            transition: transform 1s ease, opacity 1s ease;

            &.fadeIn {
                opacity: 1;
                transform: translateX(0px);
                transition: transform 1s ease, opacity 1s ease;  
            }
        }
    }


    .about-us-section {
        display: flex;
        justify-content: center;
        padding: 20px 0px;
        margin-top: 150px;
        padding-bottom: 50px;
        height: auto;
        width: 100%;
        .about-us-container {
            position: relative;
            display: flex;
            justify-content: space-between;
            height: inherit;
            width: 90%;
            .about-us-left {
                position: relative;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                height: 100%;
                width: 50%;
                .grid-item {
                    position: relative;
                    height: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                } 
                .image-large {
                  grid-column: span 3; /* Span across all 3 columns */
                  height: 200px;
                }     
                .grid-item:nth-child(2) {
                  grid-column: span 1;
                  grid-row: 2; /* Moves this element to the second row */
                  height: 200px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  gap: 20px;
                  background-color: var(--gold-yellow);
                  h2 {
                    font-size: 5rem;
                    font-weight: bolder;
                    color: black;
                  }
                  p {
                    font-weight: bolder;
                    color: black;
                  }
                }
                .image-small {
                  grid-column: span 2; /* Span across the remaining 2 columns */
                  grid-row: 2; /* Place it on the same row as the second item */
                  height: 200px;
                }

                opacity: 0;
                transform: translateX(-100px);
                transition: opacity 1s ease, transform 1s ease;

                &.fadeIn {
                    opacity: 1;
                    transform: translateX(0px);
                    transition: transform 1s ease, opacity 1s ease;  
                }
            }
            .about-us-right {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;
                width: 45%;
                padding-left: 25px;

                h2 {
                    font-size: 2.3rem;
                    color: white;
                }

                p {
                    margin-top: 20px;
                    font-size: 0.9rem;
                    line-height: 25px;
                    color: var(--gold-yellow);
                }


                opacity: 0;
                transform: translateX(100px);
                transition: opacity 1s ease, transform 1s ease;

                &.fadeIn {
                    opacity: 1;
                    transform: translateX(0px);
                    transition: transform 1s ease, opacity 1s ease;  
                }
            }
        }
    }



    .process-section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 600px;
        width: 85%;
        padding: 10px;
        margin-top: 100px;
        margin-bottom: 100px;
        //background-color: red;

        h2 {
            font-size: 3rem;
            color: white;
            margin-bottom: 70px;
        }

        > div {
            display: flex;
            justify-content: center;
            width: 100%;
            .process-card {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                width: 30%;
                padding: 20px;
                color: var(--gold-yellow);
                border: 1px solid rgb(140, 140, 140);
    
                > span {
                    position: absolute;
                    top: -10px;
                    padding: 0px 10px;
                    background-color: var(--background-purple);
                }
    
                img {
                    
                    width: 70%;
    
               
                }
    
                h2 {
                    font-size: 1.8rem;
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
    
                p {
                    font-size: 0.9rem;
                    color: white;
                    line-height: 30px;
                }
            }

        }


    }



}




@media only screen and (max-width: 999px) {
    .home-page {
        .main-section {
            .slider-thing  {
                .slick-dots {
                    position: absolute;
                    z-index: 10;
                    top: 95%;
                    left: 50%;
                    width: 100px;
                    transform: translate(-50%, -95%);
                }
                .slick-dots li {
                    border-radius: 10px;
                    min-height: 10px;
                    max-height: 10px;
                    width: 15px;
                    margin: 0 2px;
                    transition: width 0.2s ease;
                    background-color: rgba(225, 181, 22, 0.354);
                    &.slick-active {
                        width: 40px;
                    }
                    button {
                        &:before {
                            content: '';
                            background-color: transparent;
                        }
                    }
                }
            } 
            .overlay {
                .main-text {
                    width: 80%;
                    text-align: center;
                    color: white;
                    h1 {
                        font-size: 3rem;
                        margin-bottom: 10px;
                        color: inherit;
                    }
                    p {
                        color: var(--gold-yellow);
                        font-size: 1rem;
                    }
                }
            }
        }



        .process-section {
            height: auto;
            width: 90%;
            > h2 {
                text-align: center;
            }
            > div {
                flex-direction: column;
                .process-card {
                    width: 100%;
                    text-align: center;
                    img {          
                        width: 200px;   
                    }
        
                    h2 {
                        font-size: 2rem;
                        margin-top: 20px;
                    }
        
                    p {
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}
 
@media only screen and (max-width: 900px) {
    .home-page {
        .main-subinfo  {
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
            span {
                > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .number {
                        font-size: 1.8rem;
                        margin-bottom: 10px;
                    }
    
                }
                p {
                    color: white;
                }
    
            }
        }
        .our-mission-section {
            flex-direction: column;
            justify-content: center;
            .mission-left {
                align-self: center;
                width: 90%;
            }
            img {
                max-width: 80%;
            }
        }
        .about-us-section {
            padding: 0;
            padding-bottom: 80px;
            width: 100%;
            .about-us-container {
                flex-direction: column;
                align-items: center;
                .about-us-left {
                    height: auto;
                    width: 95%;
                    .grid-item {
                        img {
                            height: 100%;
                        }
                    } 

                    .image-large {
                        height: 280px;
                    }     
                    .grid-item:nth-child(2) { 
                        justify-content: space-evenly;
                        grid-column: span 3;
                    }
                    .image-small {
                        grid-column: span 3; /* Span across the remaining 2 columns */
                        grid-row: 3; /* Place it on the same row as the second item */
                        height: 280px;
                    }
                }
                
                .about-us-right {
                    margin-top: 30px;
                    width: 95%;
                    padding-left: 0;
                    text-align: center;
                }
            }
        }




    }

}

@media only screen and (max-width: 600px) {
    .home-page {
        .main-section {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 500px) {
    .home-page {
        .process-section {
            padding: 0;
            width: 95%;
            > h2 {
                width: 100%;
            }
            > div {
                .process-card {
                    width: 100%;
                    text-align: center;
                    border: none;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                    img {          
                        width: 200px;   
                    }
                    h2 {
                        font-size: 2rem;
                        margin-top: 20px;
                    }
                    p {
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}