.inventory-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
    h1 {
        font-size: 2.5rem;
        margin-bottom: 30px;
        color: white;

        //background-color: blue;
    }
    .input-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 75px;
        width: 100%;
        color: white;
        background-color: var(--background-purple);
        padding: 25px 40px;
        .filter-info {
            font-size: 1.5rem;
            //background-color: red;
        }
        .filter-buttons {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 40px;
            width: 50%;
            gap: 20px;
            > span {
                cursor: pointer;
            }
            > svg {
                cursor: pointer;
                font-size: 2rem;
                color: white;
            }
            .filter-options-wrap {
                display: none;
                position: absolute;
                top: 50px;
                right: 10px;
                width: 250px;
                height: 0px;
                opacity: 0;                
                transition: all 0.3s ease;
        
                background-color: var(--background-purple);
        
                div {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding-left: 15px;
                    height: 40px;
                    margin-bottom: 10px;
                    color: white;
                    font-size: 0.8rem;
                    border-bottom: 1px solid black;
                    &:hover {
                        color: var(--gold-yellow);
                    }
             
                }
        
                &.active {
                    display: block;
                    z-index: 10;
                    height: auto;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .inventory-bottom {
        position: relative;
        display: flex;
        width: 95%;

        //background-color: green;


        .inventory-container {
            display: grid;
            grid-template-columns: repeat(auto-fit,  minmax(260px, 1fr));
            justify-items: center;
            column-gap: 20px;
            row-gap: 50px;
            width: 100%;
            transition: width 0.3s ease;
            padding: 10px;



            .card {
                cursor: pointer;
                position: relative;
                height: 330px;
                //min-width: 260px;
                max-width: 260px;

                width: 100%;


                color: black;
                background-color: #1e104b;
                img {
                    min-height: 70%;
                    max-height: 70%;
                    width: 100%;
                    object-fit: cover;
                }
                .card-bottom {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    gap: 5px;
                    position: relative;
                    padding: 10px;
                    height: 30%;
                    color: white;
                    background-color: #1e104b;
                    a {
                        color: white;
                        text-decoration: none;
                    }
                    .brand {
                        font-size: 0.7rem;
                        color: var(--gold-yellow);
                    }
                    .model {
                        font-size: 1.1rem;
                        color: inherit;
                    }
                    .type {
                        font-size: 0.7rem;
                        color: inherit;
                    }
                    .year {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        color: inherit;
                    }
                }

                .sold-overlay {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 0px;
                    bottom: 0px;
                    height: 102%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.678);
                    h2 {
                        cursor: default;
                        letter-spacing: 10px;
                        color: white;
                    }
                }
            }


            > h2 {
                font-size: 0.9rem;
                color: rgb(92, 92, 92);
            }
        } 
    }
}

@media only screen and (min-width: 1500px) {
    .inventory-page {
        max-width: 1600px;
    }
}
@media only screen and (max-width: 999px) {
    .inventory-page {
        position: relative;
        margin-top: 0;
        .inventory-bottom {
            position: static;
            flex-direction: column;
            .sidebar {
                visibility: hidden;
                position: fixed;
                z-index: 20;
                height: 0px;
                width: 100%;
                background-color: var(--background-purple);
                transition: height 0.3s ease, visibility 0.3s ease;
                &.active {
                    visibility: visible;
                    height: 100vh;
                }
            }
            .inventory-container {
                justify-items: center;
            }
        }
    }
}
@media only screen and (max-width: 700px) {
    .inventory-page {
        > h1 {
            margin-top: 30px;
            font-size: 1.7rem;
        }
        .input-container .filter-info {
            font-size: 1rem;
        }
    }
}


@media only screen and (max-width: 595px) {
    .inventory-page {
        .inventory-bottom {
            .inventory-container {
                padding: 0;
                column-gap: 10px;
                grid-template-columns: repeat(auto-fit,  minmax(190px, 1fr));
                .card {
                    height: 250px;
                    width: 100%;
                    img {
                        height: 50%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .card-bottom {
                        padding-bottom: 10px;
                        height: 30%;
                        .price {
                           color: inherit;
                        }
             
                    }
                }

            }
        }
    }
}








// @media only screen and (max-width: 560px) {
//     .inventory-page {
//         .inventory-bottom {
//             .inventory-container {
//                 grid-template-columns: repeat(auto-fit,  minmax(180px, 1fr));
//                 .card {
//                     height: auto;
//                     min-width: 100%;
//                     img {
//                         height: 60%;
//                         width: 100%;
//                         object-fit: cover;
//                     }
//                     .card-bottom {
//                         padding-bottom: 10px;
//                         height: 40%;
//                         .price {
//                            color: inherit;
//                         }
             
//                     }
//                 }

//             }
//         }
//     }
// }